Source: efi-fs
Section: libs
Priority: optional
Maintainer: Shadichy <shadichy@blisslabs.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 wget,
 bash
Standards-Version: 4.6.2
Homepage: https://github.com/shadichy/efifs-debian
Vcs-Browser: https://github.com/pbatard/EfiFs
Vcs-Git: https://github.com/pbatard/EfiFs.git

Package: refind-drivers-extra
Architecture: amd64 i386 arm64
Multi-Arch: foreign
Depends: refind,
 efi-fs-exfat,
 efi-fs-fsfs,
 efi-fs-hfsplus,
 efi-fs-jfs,
 efi-fs-ntfs,
 efi-fs-udf,
 efi-fs-xfs,
 efi-fs-zfs,
 ${misc:Depends},
Description: Extra EFI filesystem drivers for rEFInd

Package: efi-fs-affs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: affs EFI filesystem support

Package: efi-fs-afs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: afs EFI filesystem support

Package: efi-fs-bfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: bfs EFI filesystem support

Package: efi-fs-btrfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: btrfs EFI filesystem support

Package: efi-fs-cbfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: cbfs EFI filesystem support

Package: efi-fs-cpio
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: cpio EFI filesystem support

Package: efi-fs-cpio-be
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: cpio_be EFI filesystem support

Package: efi-fs-erofs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: erofs EFI filesystem support

Package: efi-fs-exfat
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: exfat EFI filesystem support

Package: efi-fs-ext2
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: ext2 EFI filesystem support

Package: efi-fs-f2fs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: f2fs EFI filesystem support

Package: efi-fs-fat
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: fat EFI filesystem support

Package: efi-fs-hfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: hfs EFI filesystem support

Package: efi-fs-hfsplus
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: hfsplus EFI filesystem support

Package: efi-fs-iso9660
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: iso9660 EFI filesystem support

Package: efi-fs-jfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: jfs EFI filesystem support

Package: efi-fs-minix
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix EFI filesystem support

Package: efi-fs-minix-be
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix_be EFI filesystem support

Package: efi-fs-minix2
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix2 EFI filesystem support

Package: efi-fs-minix2-be
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix2_be EFI filesystem support

Package: efi-fs-minix3
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix3 EFI filesystem support

Package: efi-fs-minix3-be
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: minix3_be EFI filesystem support

Package: efi-fs-newc
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: newc EFI filesystem support

Package: efi-fs-nilfs2
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: nilfs2 EFI filesystem support

Package: efi-fs-ntfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: ntfs EFI filesystem support

Package: efi-fs-odc
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: odc EFI filesystem support

Package: efi-fs-procfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: procfs EFI filesystem support

Package: efi-fs-reiserfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: reiserfs EFI filesystem support

Package: efi-fs-romfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: romfs EFI filesystem support

Package: efi-fs-sfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: sfs EFI filesystem support

Package: efi-fs-squash4
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: squash4 EFI filesystem support

Package: efi-fs-tar
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: tar EFI filesystem support

Package: efi-fs-udf
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: udf EFI filesystem support

Package: efi-fs-ufs1
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: ufs1 EFI filesystem support

Package: efi-fs-ufs1-be
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: ufs1_be EFI filesystem support

Package: efi-fs-ufs2
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: ufs2 EFI filesystem support

Package: efi-fs-xfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: xfs EFI filesystem support

Package: efi-fs-zfs
Architecture: amd64 i386 arm64 risv64 loong64
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: zfs EFI filesystem support